# Created by https://www.toptal.com/developers/gitignore/api/cmake,cuda
# Edit at https://www.toptal.com/developers/gitignore?templates=cmake,cuda

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# End of https://www.toptal.com/developers/gitignore/api/cmake,cuda

/build